/.svn
/database
/saved
/YCinstaller
/YCmain
/YCinstallerFiles/.svn
/YCinstallerFiles/build
/YCinstallerFiles/build.log
/documentation/.svn
/documentation/figures/.svn
/documentation/sections/.svn
/release/.svn
/reslese/database/.svn
*.log
*.aux
*.tmp
*.toc
*.mtc*
*.asv
*.4*
*.dvi
*.lof
*.lot
*.maf
*.out
*.synctex
*.xref
default.mat
errorlog.txt
recent.txt