/.svn
/database
/saved
/build
/YCinstaller
/YCmain
/YCinstallerFiles/.svn
/YCinstallerFiles/build
/YCinstallerFiles/build.log
/release/*.exe
/release/readme.txt
*.log
*.aux
*.tmp
*.toc
*.mtc*
*.asv
*.4*
*.dvi
*.lof
*.lot
*.maf
*.out
*.synctex
*.xref
default.mat
errorlog.txt
recent.txt